* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-section form{
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 10px;
}

input.is-valid{
    border-color: #1a8956;
}

input.is-invalid{
    border-color: #dc3545;
}

.invalid-feedback{
    display: block;
    font-size: 0.85rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    z-index: 200;
    padding: 1rem 1rem;
    background-color: rgb(216, 133, 10);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    position: absolute;
    top: 70px;
    right: 1rem;
    background-color: rgb(216,133,10);
    padding: 1rem;
    border-radius: 8px;
    width: 200px;
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #363535;
}

nav a:hover{
    background-color: black;
    color: rgb(216, 133, 10);
    padding: 12px;
    border-radius: 5px;
}

.menu {
    display: block;
    width: 30px;
    height: auto;
    cursor: pointer;
    background-color: transparent;
}

h2{
    color: rgb(216, 133, 10);
    font-weight: 800;
}

h3{
    color: rgb(103, 22, 103);
    font-weight: 800;
}

.hero {
    padding: 3rem 1.5rem;
}

.hero-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-content h1 {
    font-size: 2rem;
}

.hero-content {
    margin: 1rem 0;
    font-size: 1rem;
}

.hero-content button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
}

.hero-img img {
    max-width: 100%;
    height: auto;
    border-radius: 999px;
}

.heroform {
    background-color: rgb(249, 246, 242);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main{
    flex: 1;
}

main button{
    background-color: orange;
    border-radius: 5px;
    border-width: 1px;
}

main button:hover{
    background-color: rgb(219, 168, 72);
}

.contact h3{
    text-align: center;
}

.contact button{
    background-color: rgb(97, 206, 242);
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
    font-size: 15px;
}

.contact button:hover{
    background-color: rgb(80, 170, 200);
}

.heroform select,
.heroform input,
.heroform button {
    font-size: 1rem;
}

.features {
    text-align: center;
}

.features article {
    background-color: aliceblue;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgb(246, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.features article:hover{
        background-color: rgb(204, 218, 230);
}

.features article img{
    width: 3rem;
    height: auto;
}

.destinations {
    padding: 3rem 1.5rem;
}

.destinations article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: whitesmoke;
    border: 1px dotted black;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    transition: transform 0.2s ease;
}

.destinations article > img{
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
}

.destinations article p img{
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.destinations article:hover{
    transform: translate(-4px);
}

.contact {
    padding: 3rem 1.5rem;
    background-color: whitesmoke;
}

.contact form {
    max-width: 500px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
}

.footer {
    padding: 2rem 1.5rem;
    text-align: center;
    background-color: rgb(216, 133, 10);
}

.footer h2{
    color: rgb(103, 22, 103);
}

.footer-icons {
    margin-top: 1rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav-links.show {
    display: flex;
}

.footer-icons img:hover{
    background-color: rgb(240, 182, 21);
    border-radius: 5px;
}

.arrows{
    justify-self: center;
    display: flex;
    margin-top: 10px;
    gap: 1rem;
    border-radius: 50px;
}

.arrows button{
    background-color: orange;
    border-radius: 100px;
    padding: 5px;
    border: 1px solid grey;
}

.arrows button:hover{
    background-color: rgb(216, 133, 10);

}

@media (min-width:769px) {
    .heroform {
        flex-direction: row;
        justify-content: center;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        text-align: left;
    }

    .features h2,
    .features p {
        grid-column: 1/-1;
        text-align: center;
    }

    .dest-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}


@media(min-width:1025px) {
    .nav-links {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        width: auto;
        padding: 0;
        gap: 2rem;
    }

    .menu {
        display: none;
    }

    .hero-top {
        flex-direction: row;
        align-items: center;
    }

    .hero-content,
    .hero-img {
        flex: 1;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .dest-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}